#topbar{
    display: none;
}
.imgProfile{
    height: 400px;
    width: 300px;
    background-image: url(./assets/images/me.JPG);
    background-size: cover;
}

.card-profile{
    height: 450px;
    background-color: brown;
}
.side-1{
    /* background-color: blueviolet; */
    display: grid;
    justify-items: center;
    align-items: center;
}
.name{
    color: white;
    text-align: center;
    margin-top: 5px;
}

.sosmed{
    color: white;
    font-size: 25px;
}

.icon{
    letter-spacing: 15px;
    text-align: center;
}
.icons{
    letter-spacing: 15px;
    text-align: center;
    font-size: 35px;
    margin-bottom: 80px;
}
.nav-icon{
    letter-spacing: 15px;
    text-align: center;
    font-size: 35px;
}
.lk{
    text-decoration: none;
    color: red;
}

.logo-brand{
    height: 30px;
}

.foto{
    width: 250px;
}
.LandingPage{
    display: grid;
    justify-items: center;

}

.Perkenalan{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.nur{
    color: white;
    font-weight: bold;
    text-shadow: 5px 2px #03001C;
}

.feedback{
    margin-right: 200px;
    margin-left: 200px;
}


@media (min-width: 768px) {
    body {
        background-image: url('./assets/images/bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
}
@media (max-width: 500px) {
    body {
        background-image: url('./assets/images/bg.jpg');
        background-position: center right;
        background-repeat: no-repeat;
    }
    .feedback{
        margin-right: 25px;
        margin-left: 25px;
    }
    #navi{
        display: none;
    }
    #topbar{
        display: block;
    }
}