.imgProfile{
    height: 400px;
    width: 300px;
    background-image: url(./assets/images/me.JPG);
    background-size: cover;
}

.card-profile{
    height: 450px;
    background-color: brown;
}
.side-1{
    /* background-color: blueviolet; */
    display: grid;
    justify-items: center;
    align-items: center;
}
.name{
    color: white;
    text-align: center;
    margin-top: 5px;
}

.sosmed{
    color: white;
    font-size: 25px;
}

.icon{
    letter-spacing: 15px;
    text-align: center;
}

.foto{
    width: 250px;
}
.LandingPage{
    display: grid;
    justify-items: center;

}

.Perkenalan{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.nur{
    color: white;
    font-weight: bold;
    text-shadow: 5px 2px #03001C;
}

.feedback{
    margin-right: 200px;
    margin-left: 200px;
}